{% extends 'base.html' %}
{% load custom_tags %}

{% load static %}
{% block title %} CLIENT 1 INSPECTIONS {% endblock%}

{% block PageTitle %}INSPECTION Dashboard{% endblock %}



{% block content %}

  <div class="row">
    <!-- Left col -->
    <section class="col-lg-4 connectedSortable">
      <!-- Custom tabs (TABLE)-->
     <div class="card">
              <div class="card-header">
                <h3 class="card-title">Please Select your Inspection Preference</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4"><div class="row">

                  <table id="table1" name="example1" class="table table-bordered table-striped dataTable table-responsive dtr-inline" role="grid" aria-describedby="table1_info">
                  <thead>
                  <tr role="row">
                      {% for col in description %}
                    {% if forloop.first %}
                    {% else %}
                      <th class="" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="">{{col}}</th>
                                          {% endif %}

                      {% endfor %}
                  </tr>
                  </thead>
                  <tbody>
                  {% for row in data %}

                  <tr role="row" class="odd">
                    {% for item in row %}
                    {% if forloop.first %}

                      {%else%}
                    <td>
                        {% if forloop.counter == 2 %}
                          <a href="/all?id_inspection={{row.0}}&qty=500&offset=0">{{item}}</a>
                        {% else%}
                        {{item}}
                      {% endif %}
                      </td>

                    {% endif %}

                      {% endfor %}

                  </tr>
                  {% endfor %}
               </tbody>
                  <tfoot>
                   <tr role="row">
   {% for col in description %}
                    {% if forloop.first %}
                    {% else %}
                      <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">{{col}}</th>
                                          {% endif %}

                      {% endfor %}
                  </tr>
                  </tfoot>
                </table></div></div>
              </div>
              <!-- /.card-body -->
            </div>

      <!-- /.card -->


      <!-- /.card -->
    </section>
    <!-- /.Left col -->
    <!-- right col (We are only adding the ID to make the widgets sortable)-->
    <section class="col-lg-5 connectedSortable">


      <!-- /.card -->
    </section>
    <!-- right col -->
  </div>

{% endblock %}

{% block pageScripts %}
<script>
  $(document).ready(function() {

    $("#table1").DataTable({
      "responsive": true,
      "autoWidth": false,
      "order": [[ 1, "desc" ]]
    });
} );
</script>
{% endblock %}