{% extends 'base.html' %}
{% load custom_tags %}
<!--hola-->

{% load static %}
{% load mathfilters %}

{% block title %} {{request.user.profile.client}}   INSPECTION {{inspection.0.0.0}} {% endblock%}

{% block PageTitle %}{{request.user.profile.client}} || {{warehouseName.0.0.0}} {% endblock %}

{% block PageInfo %}

{% endblock %}


{% block indicators %}
<div class="row">
    <div class="col-lg-4" >
        <div class ="row">
        <span>
<!--            {{warehouseName.0.0.1}},{{warehouseName.0.0.2}},<br>{{warehouseName.0.0.3}}<br>-->
             Inspection date:{{inspection.0.0.1}} || Description :<a href="/all?id_inspection={{request.GET.id_inspection}}&qty=500&offset=0&matching=1&pic=0"> {{inspection.0.0.0}}</a>
        </span>

        </div>
        <div class="row">
            <div class="col-6 ">
                <a href="plusMinus?id_inspection={{request.GET.id_inspection}}&id_unit={{backUnit}}&agvPos={{row.4}}&list={{falsePAList}}"  ><i class="fas fa-arrow-right">BACK</i></a>
            </div>
            <div class="col-6 ">
                <a href="plusMinus?id_inspection={{request.GET.id_inspection}}&id_unit={{nextUnit}}&agvPos={{row.4}}&list={{falsePAList}}"  ><i class="fas fa-arrow-right">NEXT</i></a>
            </div>

        </div>


    </div>
    <div class ="col-4">
        <h1>LAST Search: {{lastSearchUnit}}
            <br> {{request.GET.agvPos}}<h1>
    </div>
     <div class ="col-4">
        <h1>AGV Aisle: {{agvPosAsLv.0}}
            <br> AGV Pos: {{agvPosAsLv.1}}<h1>
    </div>

</div>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <!-- Left col -->
        <!--    <section class="col-lg-10   connectedSortable">-->
        <!-- Custom tabs (TABLE)-->
        <div class = "col-md-8 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3"><h3 class="card-title text-bold">Search by: Position or Unit  </h3></div>
                            </div>
                            <div class="row container-fluid">
                                <div class="col-lg-9">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-5 ">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Position</span>
                                                    </div>
                                                    <input type="text" name="position" class="form-control" placeholder="UBG1XXXXXX">
                                                </div>
                                                <!--                <input type="text" class="form-control" placeholder=".col-xs-3">-->
                                            </div>

                                            <div class="col-6">
                                                <div class="input-group  ">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Unit </span>
                                                    </div>
                                                    <input type="text" name="unit" class="form-control" placeholder="PAXXXXXXXXXXX">
                                                </div>
                                                <!--                <input type="text" class="form-control" placeholder=".col-xs-3">-->
                                            </div>
                                            <DIV class="col-1">
                                                <button type="submit" name="applyFilter" class="btn btn-primary">Apply</button>
                                            </DIV>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="table1" name="example1" class="table table-bordered table-striped dataTable " role="grid" aria-describedby="table1_info" style="width:100%">
                        <thead>
                        <tr role="row">
                            {% for col in description %}

                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">{{col}}</th>

                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in data %}
                            {% if 'wms' not in request.get_full_path %}
                                <tr role="row" class="odd {% if row.4 == lastSearchUnit %}bg-danger{% endif %}">
                            {% else %}
                                <tr role="row" class="odd {% if request.GET.agvPos in row.3 %}bg-danger{% endif %}">
                            {% endif %}

                            {% for item in row %}
                            <td>
                                {{item}}
                            </td>
                            {% endfor %}

                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
                <!-- /.card-body -->
            </div>


            <!-- /.card -->
            <!-- /.card -->
            <!--    </section>-->


            <div class="col-md-2">

            </div>


            <!-- /.Left col -->
            <!-- right col (We are only adding the ID to make the widgets sortable)-->

            <!-- right col -->
        </div>

        <div class = "col-md-4 col-sm-11">
<!--            <div class="row">-->
            <div class="card">
                <div class="card-header {% if validation.0 == 'wms' %}bg-success{% elif validation.0 == 'agv' %}bg-danger{% else %}bg-info{% endif %}">
                    <h2>WMS Information</h2>

                </div>
                <div class="card-body">
                    <h3>Aisle:<span>{{wmsPosAsLv.0}}</span>  | Pos: <span>{{wmsPosAsLv.1}}</span></h3>
                    <h4>Position<br><span>{{wmsData.wmsPosition.0}}</span><br>
                        Unit<br><span>{{wmsData.wmsProduct.0}}</span><br></h4>

                    <h5>DESCRIPTION: <br></h5>
                    <span>{{wmsData.wmsDesc1.0}}</span><br><br>
                    <span>{{wmsData.wmsDesc.0}}</span><br><br>
                    <span>{{wmsData.wmsDesc2.0}}</span><br>
                </div>
                <div class="card-footer">
                    <form method="POST">
                        {% csrf_token %}

                        <div class="row">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Comment:</span>
                                </div>
                                <input type="text" name="comment" class="form-control" placeholder="{{comment}}">
                            </div>

                        </div>
                        <div><span> <br></span></div>
                        <div class="row">
                            <DIV class="col-5">
                                <button type="submit" name="acceptwms" class="btn btn-success">Accept WMS</button>
                            </DIV>
                            <DIV class="col-5">
                                <button type="submit" name="discrep" class="btn btn-warning">Confirm Discrepancy</button>
                            </DIV>
                        </div>
                    </form>

                </div>
            </div>
<!--            </div>-->
<!--            <div class="row">-->
                <div class="card">
                    <div class="card-body">
                        <img class="img-fluid img-thumbnail" src="{{picPath}}" style="" alt="">
                    </div>
                </div>
<!--            </div>-->

        </div>




            {% endblock %}

            {% block pageScripts %}
            <script>
  $(document).ready(function() {


    $("#table1").DataTable({

      "responsive": true,
      "autoWidth": true,
      "lengthMenu": [[50, 100, 500, -1], [50, 100, 500, "All"]]
    });



} );
</script>


            {% endblock %}

        </div>
    </div>
</div>