{% extends 'base.html' %}
{% load custom_tags %}
<!--hola-->

{% load static %}
{% load mathfilters %}

{% block title %} {{request.user.profile.client}}   INSPECTION {{inspection.0.0.0}} {% endblock%}

{% block PageTitle %}{{request.user.profile.client}} || {{warehouseName.0.0.0}} {% endblock %}

{% block PageInfo %}

{% endblock %}


{% block indicators %}
<!-- <div id="loading" class="overlay">Please Wait. Loading Data...<i class="fas fa-2x fa-sync-alt fa-spin"></i></div>-->

<div class="row">
    <div class="col-lg-4" >
        <span>
<!--            {{warehouseName.0.0.1}},{{warehouseName.0.0.2}},<br>{{warehouseName.0.0.3}}<br>-->
            Inspection date:{{inspection.0.0.1}} || Description :<a href="/all?id_inspection={{request.GET.id_inspection}}&qty=500&offset=0&matching=1&pic=0"> {{inspection.0.0.0}}</a> </span>

    </div>


</div>
{% endblock %}

{% block content %}


<div class="row">
    <!-- Left col -->
    <section class="col-lg-10  ">
        <!-- Custom tabs (CHARTS)-->
        <div class="card">
            <div class="card-header">

                <h4>Aggregate CHART - Differences by Asile , Level: {{request.GET.level}}</h4>
                <ul class="pagination pagination-sm">
<!--                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>-->
                    <li class="page-item {% if request.GET.level == 'All' %}active{% endif %}"><a class="page-link" href="readedAnalysis?id_inspection={{request.GET.id_inspection}}&asile={{request.GET.asile}}&level=All">All</a></li>

                    {% for level in levels %}
                    <li class="page-item {% if level == request.GET.level %}active{% endif %}"><a class="page-link" href="readedAnalysis?id_inspection={{request.GET.id_inspection}}&asile={{request.GET.asile}}&level={{level}}">{{level}}</a></li>
                    {% if forloop.counter|divisiblePor:25 %} </ul><ul class="pagination pagination-sm"> {% endif %}

                {% endfor %}
<!--                <li class="page-item"><a class="page-link" href="#">Next</a></li>-->
            </ul>
                <div class="card-body">
                  <canvas id="myChartAsile" width="600" height="300"></canvas>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <H4>Aggregate CHART - Differences by Level, Asile: {{request.GET.asile}}</H4>
                <ul class="pagination pagination-sm">
<!--                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>-->
                    <li class="page-item {% if request.GET.asile == 'All' %}active{% endif %}"><a class="page-link" href="readedAnalysis?id_inspection={{request.GET.id_inspection}}&asile=All&level=All">All</a></li>

                    {% for asile in asiles %}
                    <li class="page-item {% if asile == request.GET.asile %}active{% endif %}"><a class="page-link" href="readedAnalysis?id_inspection={{request.GET.id_inspection}}&asile={{asile}}&level={{request.GET.level}}">{{asile}}</a></li>
                    {% if forloop.counter|divisiblePor:25 %} </ul><ul class="pagination pagination-sm"> {% endif %}

                {% endfor %}
<!--                <li class="page-item"><a class="page-link" href="#">Next</a></li>-->
            </ul>
                <div class="card-body">
                  <canvas id="myChartLevel" width="600" height="300"></canvas>
                </div>
                <!-- /.card-body -->
            </div>
        </div>

        <!-- Custom tabs (TABLE)-->
        <div class="card">
            <div class="card-header">
                <h4>Aggregate DATA - Level: {{request.GET.level}}</h4>


                               <div class="card-body">
                    <table id="table1" name="example1" class="table table-bordered table-striped dataTable " role="grid" aria-describedby="table1_info" style="width:100%">
                        <thead>
                        <tr role="row">
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">ASILE</th>
                            {% for col in barSeries %}
                             <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">{{col}}</th>
                            {% endfor %}
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">DELTA</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for row in table %}

                        <tr role="row" class="odd">

                            <td>{{row.0}}</td>
                            <td>{{row.1}}</td>
                            <td>{{row.2}}</td>
                            <td>{{row.3}}</td>
                            <td>{{row.4}}</td>

                        </tr>
                        {% endfor %}
                        </tbody>
                        <!--                        <tfoot>-->
                        <!--                        <tr role="row">-->
                        <!--                            {% for col in description %}-->
                        <!--                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">{{col}}</th>-->
                        <!--                            {% endfor %}-->
                        <!--                        </tr>-->
                        <!--                        </tfoot>-->
                    </table>
                </div>

                </div>
                <!-- /.card-body -->
            </div>
        </div>
            <!-- /.card -->
            <!-- /.card -->
    </section>



    <!-- /.Left col -->
    <!-- right col (We are only adding the ID to make the widgets sortable)-->

    <!-- right col -->
</div>

{% endblock %}

{% block pageScripts %}
<script>

</script>
<!--aggregate Charts-->
<!--by asile-->
<script>
var ctx = document.getElementById("myChartAsile").getContext("2d");
var index = 0;
var data = {
  labels: {{barX|safe}},
  datasets: [
  {
    label: ["{{barSeries.0|safe}}"] ,
    backgroundColor: 'rgba(0, 99, 132, 0.6)',
    data: {{barDataSets.0|safe}}
  },
   {% if wmsDataBool %}
    {
    label: ["{{barSeries.1|safe}}"] ,
    backgroundColor: 'rgba(99, 132, 0, 0.6)',
    data: {{barDataSets.1|safe}}
  },
  {
    label: ["{{barSeries.2|safe}}"] ,
    backgroundColor: 'rgba(222, 0, 0, 0.6)',
    data: {{barDataSets.2|safe}}
  },
  {% endif %}

   ]
};

var myBarChart = new Chart(ctx, {
  type: 'bar',
  data: data,
  options: {
    barValueSpacing: 20,
    scales: {
      yAxes: [{
      scaleLabel: {
            display: true,
            labelString: 'Bins'
          },
        ticks: {
          min: 0,

        }
      }],
      xAxes: [{
      scaleLabel: {
            display: true,
            labelString: 'Asile'
          },

      }],


    }
  }
});


</script>
<!--by Level-->
<script>
var ctx = document.getElementById("myChartLevel").getContext("2d");

var data = {
  labels: {{barLevelX|safe}},
  datasets: [
  {
    label: ["{{barLevelSeries.0|safe}}"] ,
    backgroundColor: 'rgba(0, 99, 132, 0.6)',
    data: {{barLevelDataSets.0|safe}}
  },
  {% if wmsDataBool %}
    {
    label: ["{{barLevelSeries.1|safe}}"] ,
    backgroundColor: 'rgba(99, 132, 0, 0.6)',
    data: {{barLevelDataSets.1|safe}}
  },
  {
    label: ["{{barLevelSeries.2|safe}}"] ,
    backgroundColor: 'rgba(255, 0, 0, 0.6)',
    data: {{barLevelDataSets.2|safe}}
  },
  {% endif %}
   ]
};

var myBarChart = new Chart(ctx, {
  type: 'bar',
  data: data,
  options: {
    barValueSpacing: 20,
    scales: {
      yAxes: [{
      scaleLabel: {
            display: true,
            labelString: 'Bins'
          },
        ticks: {
          min: 0,
        }
      }],
      xAxes: [{
      scaleLabel: {
            display: true,
            labelString: 'Level'
          },

      }],
    }
  }
});


</script>
<script>
    $(document).ready(function() {
    $('#table1').DataTable(
    {
        "lengthMenu": [[50, 75, 100, -1], [50, 75, 100, "All"]]
    }
    );
} );
</script>
{% endblock %}