   <div class="card">

      <div class="card-header bg-danger">
        <div class ="row">
        <div class = "col-1"><i class='fas fa-bell'></i></div>
        <h4 class="card-title"> KEYSTATS Alert</h4>
          </div>
      </div>
      <div class="card-body">

        <p class="card-text">PART {{part}} had faile</p><br>
        <p class="card-text">controls that failed:  {{key}} had faile</p>

        <a href="https://www.kreometrology.com" class="btn btn-danger">Find your Alerts</a>
      </div>
    </div>