asgiref==3.3.1
autopep8==1.5.4
dj-database-url==0.5.0
Django==2.1.15
django-mathfilters==1.0.0
gunicorn==20.0.4
mysql==0.0.2
mysql-connector-python==8.0.23
mysqlclient==2.0.3
numpy==1.20.2
pandas==1.2.3
protobuf==3.14.0
pycodestyle==2.6.0
# pyodbc==4.0.30
python-dateutil==2.8.1
python-decouple==3.4
pytz==2020.5
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
Unipath==1.1
whitenoise==5.2.0


PyMySQL~=1.0.2
SQLAlchemy~=1.4.15
openpyxl~=3.0.7