{% extends "base.html" %}

{% block title %}
Reset Confirm
{% endblock %}

{% block sideBar %}

{% endblock %}

{% block contentTitle %}
Reset Confirm
{% endblock %}

{% block content %}
<div class = "content-section " >
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"  >Reset Password</legend>
            {{ form|crispy }}
            <div    class="form-group">
                <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
            </div>
        </fieldset>
    </form>

</div>



{% block scripts %}


{% endblock %}