
<div class="row">
    <div class="col">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner text-center">
                <h3>{{warehouseTotalCount}}</h3>

                <p>WMS Ocupation</p>
            </div>
            <div class="icon">
                <!--                <i class="ion ion-bag"></i>-->
            </div>

            <span class="small-box-footer">
                <h3>{{warehouseTotalPositions}}</h3>
                  <p>WMS positions</p></span>
        </div>
    </div>
    <!-- ./col -->
    <div class="col">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner text-center">
                <h3>{{ readedCount}}</h3>

                <p>Read Ocupation</p>
            </div>
            <div class="small-box-footer">
                <h3>{{readedPositions}}</h3>

                <p>Read positions</p>
            </div>

        </div>
    </div>
    <!-- ./col -->

        <div class="col">
            <!-- small box -->
            <div class="small-box bg-warning">
                <div class="inner text-center">
                    <h3 >{{warehouseRatio}} %</h3>

                    <p>WMS Ocupation Ratio</p>
                </div>
                <div class="small-box-footer ">
                    <h3>{{readedRatio}} %</h3>

                    <p>Readed Ratio</p>
                </div>


            </div>
        </div>

    <!-- ./col -->

    <!-- ./col -->
</div>
<div class=" row">
    <div class="col">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>{{readMissMach}} <sup style="font-size: 20px">%</sup></h3>

                <p>ReadMissmatch</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
        </div>