{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="http://www.smartcubik.com" class="brand-link">

        <img src="{% static 'scLogo.png' %}" alt="logo smartcubik" class="brand-image img-square elevation-0" >

      <span class="brand-text font-weight-light">Smart Cubik</span>
    </a>

    <!-- Sidebar -->
    <li class="sidebar">

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <div class="row">
            <div class="col-1 text-light" ><i class="nav-icon fas fa-user"></i></div>
            <div class="col-8 text-uppercase text-light">
                {{request.user}}
            </div>
            <SPAN class="brand-link font-weight-light text-uppercase">CLIENT ID: {{request.user.profile.client}}</SPAN>

          </div>
<!--          <span class="brand-link font-weight-light"> </span>-->

          <li class="nav-header">WAREHOUSE</li>
          {% if 'readedAnalysis' in request.path %}

          <li class="nav-item">
                <li class="nav-item {% if request.GET.level == l.0 %} link active {% endif %}">
                <a href="/level?level={{l.0}}&id_inspection={{request.GET.id_inspection}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>BY LEVEL (ALL)</p>
                </a>
              </li>
                      <li class="nav-item">
                <li class="nav-item {% if request.GET.level == l.0 %} link active {% endif %}">
                <a href="/level?level={{l.0}}&id_inspection={{request.GET.id_inspection}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>BY ASILE (ALL)</p>
                </a>
              </li>
                      <li class="nav-item">
                <li class="nav-item {% if request.GET.level == l.0 %} link active {% endif %}">
                <a href="/level?level={{l.0}}&id_inspection={{request.GET.id_inspection}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p> FILTERS </p>
                </a>
              </li>

          </li>
          {% endif %}
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
